{% include base_path %}

{% assign the_lang = post.lang | default: page.lang | default: site.locale | slice: 0,2 %}
{% if the_lang == 'es' %}
  {% assign published_in_label = "Publicado en" %}
  {% assign recommended_citation_label = "Cita recomendada" %}
  {% assign download_paper_label = "Descargar artículo" %}
  {% assign download_slides_label = "Descargar diapositivas" %}
  {% assign download_bibtex_label = "Descargar Bibtex" %}
  {% assign demo_label = "Ver resultados" %}
  {% assign code_label = "Ver código" %}
  {% assign read_more_label = "Leer más" %}
{% else %}
  {% assign published_in_label = "Published in" %}
  {% assign recommended_citation_label = "Recommended citation" %}
  {% assign download_paper_label = "Download Paper" %}
  {% assign download_slides_label = "Download Slides" %}
  {% assign download_bibtex_label = "Download Bibtex" %}
  {% assign demo_label = "View results" %}
  {% assign code_label = "View code" %}
  {% assign read_more_label = "Read more" %}
{% endif %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>{{ published_in_label }} <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[page.lang | default: site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> {{ read_more_label }}</a></strong></p></p>
    {% endif %}

    {% capture links_html %}{% endcapture %}
    {% for pair in "paperurl,download_paper_label|demourl,demo_label|codeurl,code_label|slidesurl,download_slides_label|bibtexurl,download_bibtex_label" | split: "|" %}
      {% assign field_name = pair | split: "," | first %}
      {% assign label_name = pair | split: "," | last %}
      {% assign field_value = post[field_name] %}
      {% if field_value %}
        {% case label_name %}
          {% when 'download_paper_label' %}{% assign label_value = download_paper_label %}
          {% when 'demo_label' %}{% assign label_value = demo_label %}
          {% when 'code_label' %}{% assign label_value = code_label %}
          {% when 'download_slides_label' %}{% assign label_value = download_slides_label %}
          {% when 'download_bibtex_label' %}{% assign label_value = download_bibtex_label %}
        {% endcase %}
        {% if links_html != "" %}{% capture links_html %}{{ links_html }} | {% endcapture %}{% endif %}
        {% capture links_html %}{{ links_html }}<a href="{{ field_value }}">{{ label_value }}</a>{% endcapture %}
      {% endif %}
    {% endfor %}

    {% if post.citation and links_html != "" %}
      <p>{{ recommended_citation_label }}: {{ post.citation }}<br />{{ links_html }}</p>
    {% elsif post.citation %}
      <p>{{ recommended_citation_label }}: {{ post.citation }}</p>
    {% elsif links_html != "" %}
      <p>{{ links_html }}</p>
    {% endif %}

  </article>
</div>
